@model Menus

@{
    ViewData["Title"] = "Create";
}

<form enctype="multipart/form-data" asp-action="Create">
    <div class="form-group">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="MenuName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MenuName" class="form-control" />
                <span asp-validation-for="MenuName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Category" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Category" class="form-control android" asp-items="@ViewBag.Category"></select>
                <span asp-validation-for="Category" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MenuPrice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MenuPrice" class="form-control" />
                <span asp-validation-for="MenuPrice" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MenuStock" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MenuStock" class="form-control" />
                <span asp-validation-for="MenuStock" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MenuDesc" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MenuDesc" class="form-control" />
                <span asp-validation-for="MenuDesc" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MenuImg" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <div class="input-group fileupload-v1">
                    <input asp-for="MenuImg" type="file" multiple name="manualfile" class="fileupload-v1-file hidden" />
                    <input type="text" class="form-control fileupload-v1-path" placeholder="File Path..." disabled>
                    <span class="input-group-btn">
                        <button class="btn fileupload-v1-btn" type="button"><i class="fa fa-folder"></i> Choose File</button>
                    </span>
                </div><!-- /input-group -->
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MenuType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MenuType" class="form-control" />
                <span asp-validation-for="MenuType" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    $(document).ready(function () {
        $('.fileupload-v1-file').on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).next('.fileupload-v1-file').html(fileName);
        });
    });
</script>